html {
  height: 100%;
}

body {
  background: black;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.container {
  padding-bottom: 30px;
}

.answer {
  border: beige 2px solid;
  padding: 5px;
}

#title {
  font-family: 'Ultra', serif;
}